node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/.git
**/secrets
.env
.env.*
!.env.example
*.md
**/test
**/__tests__
**/*.test.ts
**/*.spec.ts
.github
charts
docs
scripts
secrets
*.log
admin-console/.next
